<!DOCTYPE html>
<html>
<head>
    <title>Covid-19 Graphs</title>
<style>
    select {
        width: 200px;
    }
</style>
</head>
<body>
<script type=text/javascript>
var county_states = {{ county_states | tojson | safe }};

function initPlaces() {
    var placeSelect = document.getElementById("places");
    for (var state in county_states) {
        var counties = [];
        for (var i in county_states[state]) {
            counties.push(county_states[state][i]);
        }
        counties.sort();
        for (var i in counties) {
            var county = counties[i];
            var place_display = state + " - " + county;
            var place = { "state":state, "county":county};
            placeSelect.add(new Option(place_display, JSON.stringify(place)));
        }
    }
}

function init() {
    initPlaces();
}

function getSelectedOptions(sel) {
    var opts = [], opt;
    for (var i=0, len=sel.options.length; i<len; i++) {
        opt = sel.options[i];
        if (opt.selected) {
            opts.push(opt.value);
        }
    }
    return opts;
}

async function postData(url = '', data = {}) {
  const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *client
    body: data
  });
  return await response.json(); // parses JSON response into native JavaScript objects
}

function graph() {
    var placeSelect = document.getElementById("places");
    var places = getSelectedOptions(placeSelect);
    var status = document.getElementById("status");
    var data = JSON.stringify(places, function replacer(key, value) { return value});

    var covidgraph = document.getElementById("covid_graph");

    covidgraph.src="static/please-wait.svg"

    postData("/graph", data).then((resp)=> {
        if (resp.hasOwnProperty('covid_graph')) {
            covidgraph.src = resp.covid_graph;
        } else {
            status.innerHTML = resp.error;
            covidgraph.src="static/error.svg";
        }
    }).catch((error) => {
        covidgraph.src="static/error.svg";
    });
}
function updateSelection() {
    var placeSelect = document.getElementById("places");
    var status = document.getElementById("status");
    var selected = getSelectedOptions(placeSelect);
    status.innerHTML = selected.length + " counties selected.";
}

window.onload = init;
</script>
<select id="places" multiple size="20" onchange="updateSelection()"></select>
<div id="status">Select up to {{max_counties}} counties with (macos)⌘+click or (others)ctrl+click.</div>
<br/><br/>
<button onclick="graph()">Graph!</button>
<br/>
<br/>
<img id="covid_graph" src="static/base-placeholder.svg" alt="COVID19 Graph">
</body>
</html>