<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
<style>
    select {
        width: 200px;
    }
</style>
</head>
<body>
<script type=text/javascript>
var county_states = {{ county_states | tojson | safe }};

function initPlaces() {
    var placeSelect = document.getElementById("places");
    for (var state in county_states) {
        var counties = [];
        for (var i in county_states[state]) {
            counties.push(county_states[state][i]);
        }
        counties.sort();
        for (var i in counties) {
            var county = counties[i];
            var place_display = state + " - " + county;
            var place = { "state":state, "county":county};
            placeSelect.add(new Option(place_display, JSON.stringify(place)));
        }
    }
}

function init() {
    initPlaces();
}

function getSelectedOptions(sel) {
    var opts = [], opt;
    for (var i=0, len=sel.options.length; i<len; i++) {
        opt = sel.options[i];
        if (opt.selected) {
            opts.push(opt.value);
        }
    }
    return opts;
}

async function postData(url = '', data = {}) {
  const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *client
    body: data
  });
  return await response.json(); // parses JSON response into native JavaScript objects
}

function graph() {
    var placeSelect = document.getElementById("places");
    var places = getSelectedOptions(placeSelect);
    var data = JSON.stringify(places, function replacer(key, value) { return value});

    var covidgraph = document.getElementById("covid_graph");

    covidgraph.src="https://via.placeholder.com/640x480?text=Please+wait,+graphing..."
    postData("/graph", data).then((resp)=> {
      covidgraph.src = resp.covid_graph;
    }).catch((error) => {
      console.log(error);
      covidgraph.src="https://via.placeholder.com/640x480?text=Error!"
    });
}

window.onload = init;
</script>
<select id="places" multiple size="20"></select><br/>
<button onclick="graph()">Graph!</button>
<br>
<br>
<img id="covid_graph" src="https://via.placeholder.com/640x480?text=Select+counties+to+graph" alt="COVID19 Graph">
</body>
</html>